.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  background-color: #ef9c97;
  display: flex;
  padding: 25px;
}
.nav a{
  text-decoration: none;
  min-width: 10vw;
  padding: 0 10px;
  color: #fff;
  font-weight:bolder;
  font-size: 1.5em;
}
form{
top: 100px;
position: relative;
display: flex;
justify-content: center;
}
.textfield{
  min-height: 4vh;
  min-width: 50vw;
  color:#687a8f ;
  font-size: 1em;
  padding: 5px 20px;
}
.submit{
  background-color: #687a8f;
  color: #fff;
  border: none;
}
.recipe, .category{
  top: 150px;
  position: relative; 
  padding: 20px;
  display: block;
}
.recipe img{
  width: 20vw;
 
}
.recipe p, h2{
  text-align: justify;
}
.category{
  display: block;
  position: relative;
  width: 30%;
  float: left;
  margin: auto;
}
.category img{
  width: 10vw;
}
.category p{
  text-align: justify;
}